<html>
<head>
body {
text align: center;
}
body {
font: 1em sans-serif;
width: 500;
padding: 0;
margin: 230;
text-align: center;
background-color: black;
background-image: url("24.PNG");
 background-repeat: no-repeat;
 background-size: 900px;
}
input[type="tel"]{
text-align: center;
webkit-appearance: none;
background-color: black;
webkit-appearance: none;
outline-style: hidden;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
color: pink;
}
h2 {
text-align: center;
color: blue;
font-family: bold;
font-size: 50px;
}
label{
display: block;
color: pink;
font-family: bold;
}
button{
color: #ffeee34p;
background-color: rgb(59 100 99 / 98%);
border-radius: 55%;

}
input[type="text"],
input[type="email"],
input[type="password"] {
text-align: center;
background-color: black;
webkit-appearance: none;
outline-style: hidden;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
color: pink;
}

</head>
</html>