
body{
    background: url("https://www.bing.com/th/id/OGC.1ba198f2a10e4ab7be59bde8bfec8baa?pid=1.7&rurl=https%3a%2f%2fcdn.dribbble.com%2fusers%2f232604%2fscreenshots%2f3710716%2fui_render_3.gif&ehk=jtVp54shqWI8zJdjfEJoPABZ%2fD1%2bnUs%2bMkDkTD0FGXY%3d");
    width: 100%;
    height: 100vh;
}
.was-validated{
background:transparent;
color: rgb(136, 213, 222);
padding: 30px;
border-radius: 10px;
box-shadow:0px 0px 10px 0px hsl(0, 25%, 97%);
}
.row{
    justify-content:center;
    text-align:center;

}
.container-fluid{
    margin: 200px;
}
input[type=email],[type=password] {
outline:none;
border: none;
border-bottom:2px solid ;
background-color:transparent;
 }