<html>
<head>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.{
box-sizing: border-box;
}
body{
background: #bdc3c7;
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
background: linear-gradient(to right, #2c3e50, #bdc3c7);
display: flex;
align-items: center;
justify-content: center;
font-family: "poppins", sans-serif;
margin: 1;
min-height: 100vh;
}
.quiz-container {
background-color: #b8c6db;
border-radius:10px;
border-shadow: 10px;
width: 600px;
max-width: 100%;
}
.quiz-header{
padding:2rem;
}
ul {
list-style-type: none;
padding: 0;
}
ul li {
cursor: pointer;
font-size: 1.2rem;
margin: 2rem 0;
}

button {
background-color:#afafafb3;
color: white;
display: block;
font-family: 1.3rem;
font-size:1.1rem;
width:100%;
padding: 1.3rem;
}
button:hover {
background-color: #732d91;
}
</head>
</html>